@import "normalize", "vars", "header", "index", "footer", "blog", "nav", "contacts";

html {
  background: #fff5ea ;
  box-sizing: border-box;
  color:  $white;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

main {
  flex-grow: 1;
  color: #553C29;
}