<div class="hero">
    <div class="avatar">
<!--<!-           <img src="/assets/images/avatar.jpg" alt="avatar author blog">&ndash;&gt;-->
<!--<!-           <img src="/assets/images/avatar2.jpg" alt="avatar2 author blog">&ndash;&gt;-->
    </div>
    <div class="avatar1">
        <!--           <img src="/assets/images/avatar.jpg" alt="avatar author blog">-->
        <!--           <img src="/assets/images/avatar2.jpg" alt="avatar2 author blog">-->
    </div>
    <div class="phrase">
        <p align="center" class="quote">Дмитрий<br />&<br />Мария</p>
        <p align="center" class="author">8 ноября 2019</p>
    </div>
</div>
